<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEETING</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="data:;base64,=">
    <script src="{{ url_for('static',filename='js/lib/jquery/jquery-3.2.1.min.js') }}"></script>
    <link href="{{ url_for('static',filename='js/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/lib/bootstrap/bootstrap.min.js') }}"></script>
    <style>
        body {overflow:hidden;}
    </style>
</head>
<script src="{{ url_for('static',filename='js/lib/threeJS/three.js') }}"></script>
<script src="{{ url_for('static',filename='js/lib/threeJS/OrbitControls.js') }}"></script>
<script src="{{ url_for('static',filename='js/lib/threeJS/GLTFLoader.js') }}"></script>

<script src="{{ url_for('static',filename='js/lib/pmLib/MyPMLoader.js') }}"></script>

<script src="{{ url_for('static',filename='js/lib/instancedLib/InstancedGroup.js') }}"></script>
<script src="{{ url_for('static',filename='js/lib/instancedLib/SkinnedMeshController.js') }}"></script>

<script src="{{ url_for('static',filename='js/sceneSet/RoomManager.js') }}"></script>
<script src="{{ url_for('static',filename='js/playerControl/PlayerControl.js') }}"></script>
<script src="{{ url_for('static',filename='js/ResourceLoader.js') }}"></script>
<script src="{{ url_for('static',filename='js/Main.js') }}"></script>

<script  type="module">
    $(function() {
        $('#return').click(function(){
            location.replace("http://127.0.0.1:5000");
        });
    });

    const reply = localStorage.getItem("result");
    document.getElementById("result").innerHTML = "文本："+ reply;

    var myMain = new Main();
    myMain.start();

    var myRoomManager = new RoomManager(null,myMain.camera);
    myMain.scene.add(myRoomManager.room);

    new PlayerControl(myMain.camera);
    window.c=myMain.camera;
</script>
<body>
<div class="container">
    <p>
    <div>
        <p><span id="result"></span>
        <p><button class="btn btn-success" id="play">播放</button>
        <button class="btn btn-success" id="return">返回</button>
    </div>
</div>
</body>
</html>
